.about-container {
  /* margin-top: 25vh; */
  margin-left: clamp(8rem, 10.8vw, 13.8rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-heading-container {
  width: 100%;
  margin-bottom: 9vw;
}

.about-content-path {
  display: flex;
}

.about-content {
  display: flex;
  flex-direction: column;
  margin-right: 9.5vw;

  /* border: 1px solid red; */
}

.about-content-sub-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 10vw;
}
.about-content-subheading {
  display: flex;
  justify-content: flex-end;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.sub-text {
  margin-left: 8.5vw;
  width: 35.5vw;
}

.technology-i-use {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-path {
  display: flex;
  flex-direction: column;
}

.about-path-text {
  display: flex;
  /* flex-wrap: nowrap; */
  margin-top: 2.7vw;
  width: 26.8vw;
}

.about-border {
  width: 3px;
  height: 100%;
  background: rgba(255, 255, 255, 0.23);
  transform: scalex(0.7);
  transform: translateX(0.2vw);
  margin-right: 2.5vw;
}

.about-quote {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 16vw;
  margin-left: 6vw;
  /* border: 1px solid red; */
}
.about-quote-text {
  width: 70vw;
  display: flex;
  align-items: flex-end;
  /* border: 1px solid blue; */
}

.quotation-mark {
  position: relative;
  top: 1.5vw;
  left: 5.5vw;
  line-height: 0vw;
}
.about-quote-text-grey {
  display: inline;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .about-container {
    margin-left: 5.8vw;
  }

  .about-path-text {
    width: 30vw;
  }
}

@media only screen and (max-width: 650px) {
  .about-content {
    margin-right: 5.8vw;
  }

  .sub-text {
    margin-left: 5.5vw;
  }

  .about-path-text {
    width: 35vw;
  }
}
