/* GRAIN EFFECT */

.grain-container {
  /* not necessary when grain is wrapping the app */
  /* position: absolute; */
  width: 100%;
}

.grain-dark {
  color: #fff;
  /* background: linear-gradient(#0c0c0c, #000); */
  background: #0c0c0c;
}

.grain-light {
  color: #000;
  background: #ffffff;
}
.grain-container::after {
  animation: grain 0.5s steps(10) infinite;
  background-image: url("../ressources/images/grain.jpeg");
  content: "";
  height: 600%;
  left: -50%;
  /* change opacity to increase grain effect */
  opacity: 0.2;
  position: fixed;
  top: -100%;
  width: 500%;
}

/* position every element on top of the grain effect */
.grain-container * {
  position: relative;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(7%, -15%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 10%);
  }
  60% {
    transform: translate(10%, 0%);
  }
  70% {
    transform: translate(0%, 10%);
  }
  80% {
    transform: translate(3%, 15%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
