/* NAV NAV NAV */
.nav-container {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 10;
  color: #ebe9eb;
  transition: 0.5s ease;
}
.oe {
  font-weight: 600;
}

.nav-list-container {
  display: flex;
  height: 100%;
  width: var(--nav-width);
  z-index: 200;
  transition: 0.5s ease;
  transition-delay: 1s;
}

.nav-list-container-active {
  background: #0f1111;
  transition: 0.5s ease;
}

.nav-element {
  display: flex;
  justify-content: center;
  z-index: 200;
}

.nav-border-container {
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 200;
}
.nav-border-dark {
  height: 100vh;
  border-right: 1px solid rgba(250, 250, 250, 0.1);
  transform: scalex(0.05);
}
.nav-border-light {
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
  transform: scalex(0.05);
}

.scroll-progression-bar {
  background: #4c4d4c;

  transform: scalex(0.7);

  transform: translateX(-1.6px);
}

.nav-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  z-index: 200;
  transition: 1s ease;
}

.slide-menu {
  width: calc(100% - var(--nav-width));
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0f1111;
  transition: 2s ease-in-out;
  transform: translateX(-300vw);
  z-index: 100 !important;
}
.slide-menu-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slide-menu-active {
  transform: translateX(0px);
  transition: 0.8s ease-in-out;
  z-index: 100 !important;
}

.slide-menu-item {
  transition: 1s ease-in-out;
  transform: translateX(-300vw);
}
.slide-menu-item-active {
  transform: translateX(0vw);
}

.slide-menu-item span {
  position: relative;
  display: block;
  font-size: clamp(1.35rem, 2.6vh, 2vw);
  font-weight: 100;
  bottom: min(1.3vw, 3vh);
  letter-spacing: min(0.8vh, 1vw);

  transform: translateX(-300vw);
}
.slide-menu-item-sub-active {
  transform: translateX(0) !important;
}
.slide-menu-item-sub1 {
  left: min(28vw, 50vh);
  transition: 1.5s ease-in-out;
}
.slide-menu-item-sub2 {
  left: min(40vw, 55vh);
  transition: 1.6s ease-in-out;
}
.slide-menu-item-sub3 {
  /* left: min(10vw, 200px); */
  /* left: min(19vh, 200px); */
  left: min(9vw, 15vh);
  transition: 1.7s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .oe {
    margin-left: 1.75vw;
  }
  .nav-container {
    flex-direction: column;
  }
  .nav-list-container {
    width: 100%;
    height: var(--nav-width);
    /* flex-direction: column; */
    /* align-items: center; */
    display: block;
    justify-content: space-between;
    transition: 1s ease;

    backdrop-filter: blur(5px);
  }

  .nav-list {
    width: 100%;
    height: 100%;
    /* height: var(--nav-width); */
    flex-direction: row-reverse;
    align-items: center;
    transition: 1s ease;
  }

  .nav-border-container {
    height: auto;
    justify-content: center;
  }
  hr.nav-border-dark {
    display: none;
  }
  hr.nav-border-light {
    display: none;
  }

  .slide-menu {
    width: 100%;
  }

  .scroll-progression-bar {
    background: #4c4d4c;
    height: 2px !important;
    bottom: 1px;
    z-index: 1000;
    transform: scaley(0.6);
  }
}
