/* NAV NAV NAV */
.nav-container {
  position: fixed;
  display: flex;
  align-items: center;
  font-size: var(--fs-16);
  width: 100%;
  height: 100vh;
  background: transparent;
  z-index: 6;
}

.nav-border-dark {
  height: 100vh;
  border-right: 1px solid rgba(250, 250, 250, 0.1);
  transform: scalex(0.05);
}
.nav-border-light {
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
  transform: scalex(0.05);
}

.scroll-progression-bar {
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  width: 0.5px;

  transform: scalex(0.8);
  transform: translateX(-1.8px);
}

.nav-list {
  height: 100%;
  width: var(--nav-width);
  font-size: 2.5rem;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  z-index: 5;
  transition: 1s ease;
}
.nav-list-active {
  background: #090809;
  transition: 0.5s ease;
}

.slide-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #090809;
  transition: 2s ease-in-out;
  transform: translateX(-300vw);
  z-index: 99;
}

.slide-menu-active {
  transform: translateX(0);
  transition: 0.8s ease-in-out;
}

.slide-menu-item {
  font-size: clamp(5rem, 10vw, 21rem);
  font-weight: 800;
  transition: 1s ease-in-out;
  transform: translateX(-300vw);
}
.slide-menu-item-active {
  transform: translateX(0vw);
}

.slide-menu-item span {
  position: relative;
  display: block;
  font-size: clamp(1rem, 1vw, 3rem);
  font-weight: 100;
  letter-spacing: 0.3vw;
  transform: translateX(-300vw);
}
.slide-menu-item-sub-active {
  transform: translateX(0) !important;
}
.slide-menu-item-sub1 {
  left: 21.5vw;
  bottom: 1vw;
  transition: 1.5s ease-in-out;
}
.slide-menu-item-sub2 {
  left: 21.5vw;
  bottom: 1vw;
  transition: 1.6s ease-in-out;
}
.slide-menu-item-sub3 {
  left: 9vw;
  bottom: 1vw;
  transition: 1.7s ease-in-out;
}

@media only screen and (max-width: 480px) {
  .nav-container {
    flex-direction: column;
  }
  .nav-list {
    width: 100%;
    height: var(--nav-width);
    flex-direction: row-reverse;
    align-items: center;
    transition: 1s ease;
  }
  hr.nav-border-dark {
    display: none;
  }
  hr.nav-border-light {
    display: none;
  }
  section {
    margin: 0;
  }

  .scroll-progression-bar {
    background: rgba(255, 255, 255, 0.15);
    height: 2px !important;

    transform: scaley(0.5);
  }
}
