/* NAV NAV NAV */
.nav-container {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 10;
  color: #ebe9eb;
  transition: 0.5s ease;
}
.oe {
  font-weight: 600 !important;
}

.nav-list-container {
  display: flex;
  height: 100%;
  width: var(--nav-width);
  z-index: 200 !important;
  transition: 0.5s ease;
  transition-delay: 0.3s;
}

.nav-element {
  display: flex;
  justify-content: center;
  z-index: 200;
}

.nav-border-container {
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 200;
}
.nav-border-dark {
  height: 100vh;
  border-right: 1px solid rgba(250, 250, 250, 0.1);
  transform: scalex(0.2);
}
/* .nav-border-light {
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
  transform: scalex(0.1);
} */

.scroll-progression-bar {
  background: #ebe9eb;

  transform: translateX(-1.5px) scaleX(0.5) !important;
}

.nav-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  z-index: 100 !important;
  transition: 1s ease;
}

.slide-menu {
  width: calc(100% - var(--nav-width));
  /* height: 100%;  */
  display: flex;
  position: fixed;
  margin-left: var(--nav-width);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0f1111;

  transition: 1s ease-in-out;

  z-index: 100 !important;
}
/* .slide-menu-active {
  transition: 1s ease-in-out;
} */

.slide-menu-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slide-menu-item {
  transition: 1.3s ease-in-out;
  margin: 0.5vh;
  /* border: 1px solid red; */
}

.slide-menu-item span {
  position: relative;
  display: block;
  font-size: clamp(1.2rem, 2.6vh, 2vw);
  font-weight: 200;
  bottom: min(1.3vw, 3vh);
  letter-spacing: min(0.8vh, 0.9vw);
}

.slide-menu-item-sub1 {
  left: min(33.5vw, 50vh);
  transition: 1.6s ease-in-out;
}
.slide-menu-item-sub2 {
  left: min(40vw, 55vh);
  transition: 1.75s ease-in-out;
}
.slide-menu-item-sub3 {
  left: min(11vw, 15vh);
  transition: 1.95s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .nav-container {
    flex-direction: column;
  }
  .nav-list-container {
    width: 100%;
    height: var(--nav-width);
    display: block;
    justify-content: space-between;
    transition: 1s ease;

    backdrop-filter: blur(5px);
  }

  .nav-list {
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
    align-items: center;
    transition: 1s ease;
  }

  .nav-border-container {
    height: auto;
    justify-content: center;
  }
  hr.nav-border-dark {
    display: none;
  }
  hr.nav-border-light {
    display: none;
  }

  .slide-menu {
    width: 100%;
    height: calc(100% - var(--nav-width));
    padding-bottom: 8rem !important;
    margin-left: 0;
    margin-top: var(--nav-width);
  }

  .scroll-progression-bar {
    background: #ebe9eb;
    height: 2px !important;
    bottom: 1px;
    z-index: 1000;
    transform: scaleY(0.3) !important;
  }
  .oe {
    font-size: 2.3rem;
  }
}
