.projectMobile-card-container {
  flex-direction: column;
  
}

.projectMobile-card-sidebar-horizontal {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8vw;
  /* border: 1px solid green; */
}

.projectMobile-mobile-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.projectMobile-mobile-text {
  width: 68%;
}
