/* START START START */

.start-container {
  width: calc(100% - 7.85rem);
  margin-left: 7.85rem;
  height: 1500vh;
  margin-bottom: 100vh;

  /* border: 1px solid red; */
}

.start-slider-container {
  height: 100vh;
  position: relative;
  position: sticky;
  top: 0rem;
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  /* border: 1px solid blue; */
}

.slider-wrapper {
  max-width: 100%;
  overflow: hidden;
  height: 19vh;

  /* border: 1px solid yellow; */
}
.slider-wrapper-short {
  width: 85%;
  margin-bottom: 38vh;
}

.slider-wrapper-name {
  width: 85%;
}

.slider-marquee-long {
  right: 2vh;
}
.slider-marquee-short {
  right: 6vh;
}

.slider-marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  height: 100%;
}

.slider-marquee-two p {
  display: inline;
  margin: 0 7vw;
}

.slider-marquee p {
  height: 100%;
  display: flex;
  align-items: center;
}

.arrow-func-container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.arrow-func-container div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name {
  position: absolute;
  font-weight: 500;
  font-size: clamp(1.5rem, 6.3vh, 20rem);
  letter-spacing: 1vh;
}
.arrow-func span {
  width: 7vh;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: clamp(1.5rem, 8.5vh, 20rem);
  letter-spacing: 1vh;
}
