/* START START START */

.start-container {
  width: calc(100% - 8rem);
  margin-left: 8rem;
  height: 1500vh;
  height: max(7000px, 1200vw);
  margin-bottom: 10.8vw;

  /* border: 1px solid red; */
}

.start-slider-container {
  height: 100vh;
  position: relative;
  position: sticky;
  top: 0rem;
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* border: 1px solid blue; */
}

.slider-wrapper {
  max-width: 100%;
  overflow: hidden;

  /* border: 1px solid yellow; */
}
.slider-wrapper-short {
  width: 85%;
}

.slider-wrapper-name {
  margin-bottom: 5vh;
  width: 85%;
  height: 15vh;
}

.slider-marquee-long {
  right: 2vh;
}
.slider-marquee-short {
  right: 6vh;
}

.slider-marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  height: 100%;
}

.slider-marquee-two p {
  display: inline;
  margin: 0 7vw;
}

.slider-marquee p {
  height: 100%;
  display: flex;
  align-items: center;
}

.arrow-func-container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.arrow-func-container div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name {
  position: absolute;
  font-weight: 500;
  font-size: clamp(4rem, 3.5vw, 20rem);
  letter-spacing: min(1vw, 1.5rem);
}
.arrow-func span {
  width: max(4rem, 4.3vw);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  font-weight: 500;
  font-size: clamp(5rem, 5.5vw, 20rem);
}

@media only screen and (max-width: 768px) {
  .start-container {
    width: 100%;
    margin-left: 0;
  }

  .slider-wrapper {
    margin-top: calc(var(--nav-width) + 10px);
  }
  .slider-wrapper-short {
    margin: 0 0 15vh 0;
  }

  .name {
    font-size: clamp(1.5rem, 5vw, 20rem);
  }
}
