@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&display=swap");
@import url("./css/grain.css");
@import url("./css/nav.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
}

/* VARS VARS VARS */
:root {
  font-size: 10px;
  --fs-16: 1.6rem;
  --fs-14: 1.4rem;
  --fs-150: 15rem;
  --fs-100: 10rem;
  --nav-width: 80px;
}

/* GENERIC CLASSES */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* THEME THEME THEME */

.dark-theme {
  color: #fff;
}

.light-theme {
  color: #000;
}

/* CARD CARD CARD */

.card-container {
  background: #fff;
  border-radius: 30px;
  overflow: scroll;
  /* box shadow for dark theme */
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.5), 0 15px 12px rgba(0, 0, 0, 0.42);
  /* box shadow for light theme */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.card-container h1 {
  color: black;
}

.card-container img {
  max-width: 100%;
}

/* LANDING LANDING LANDING */

section {
  border: 1px solid yellow;
  height: 300vh;
  width: calc(100% - 75.4px);
  margin-left: 75.4px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gridContainerOne {
  position: relative;
  border: 1px solid red;
  margin: 0vw 0vw;
  position: sticky;
  top: 0;
  width: calc(100vw - 75.4px);
  height: 100vh;
  display: grid;
  grid-gap: 2.5rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* transition: 0.1s ease; */
}

.gridContainerOne span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  font-weight: 500;
}

@media only screen and (max-width: 480px) {
  section {
    width: 100%;
    margin: 0;
  }
}
