@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&display=swap");
@import url("./css/grain.css");
@import url("./css/nav.css");
@import url("./css/landing.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

/* html {
  scroll-behavior: smooth;
} */

/* VARS VARS VARS */
:root {
  font-size: 10px;
  --fs-16: 1.6rem;
  --fs-14: 1.4rem;
  --fs-150: 15rem;
  --fs-100: 10rem;
  --nav-width: 8rem;
  scrollbar-width: none;
}

/* SCROLLBAR */
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

/* GENERIC CLASSES */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* THEME THEME THEME */

.dark-theme {
  color: #fff;
}

.light-theme {
  color: #000;
}

/* CARD CARD CARD */

.card-container {
  background: #fff;
  border-radius: 30px;
  overflow: scroll;
  /* box shadow for dark theme */
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.5), 0 15px 12px rgba(0, 0, 0, 0.42);
  /* box shadow for light theme */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.card-container h1 {
  color: black;
}

.card-container img {
  max-width: 100%;
}

.about-container {
  /* border: 1px solid yellow; */
  width: 100%;
  height: 130vh;
  margin-top: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about-heading {
  width: 100%;
}

.about-heading h1 {
  font-size: clamp(4rem, 7.5vw, 20rem);
  font-weight: 550;
  margin: 0 0 0 15rem;
  /* transform: scale(-1, -1); */
}
.about-path {
  display: flex;
  flex-direction: column;

  width: min(30%, 1700px);
  margin-right: var(--nav-width);
  /* border: 1px solid yellowgreen; */
}

.about-path span {
  font-size: clamp(0.9rem, 1.6vw, 4rem);
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.about-path-text {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 3rem;
}

.about-path-text p {
  font-size: clamp(0.7rem, 0.8vw, 1.9rem);
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 1.45vw;
}

.about-border {
  width: 3px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: scalex(0.7);
  margin-right: 3rem;
}
/* @media only screen and (max-width: 480px) {
} */
