@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&display=swap");
@import url("./css/nav.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
}



/* VARS VARS VARS */
:root {
  font-size: 10px;
  --fs-16: 1.6rem;
  --fs-14: 1.4rem;
  --fs-150: 15rem;
  --fs-100: 10rem;
  --nav-width: 80px;
  --nav-width-neg: -80px;
}

/* THEME THEME THEME */

.dark-theme {
  color: #fff;
}

.light-theme {
  color: #000;
}

/* CARD CARD CARD */

.card-container {
  background: #fff;
  border-radius: 30px;
  overflow: scroll;
  /* box shadow for dark theme */
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.5), 0 15px 12px rgba(0, 0, 0, 0.42);
  /* box shadow for light theme */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.card-container h1 {
  color: black;
}

.card-container img {
  max-width: 100%;
}

/* SECTION SECTION SECTION 1 */
section {
  width: calc(100% - 70px);
  margin-left: 70px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.heading {
  margin-top: 15vh;
  font-weight: 800;
}
.heading span {
  font-size: var(--fs-150);
}

/* GRAIN EFFECT */
.grain-container {
  position: absolute;
  height: 500%;
  width: 100%;
}

.grain-dark {
  color: #fff;
  background: #0c0c0c;
}

.grain-light {
  color: #000;
  background: #ffffff;
}
.grain-container::after {
  animation: grain 0.5s steps(10) infinite;
  background-image: url("./ressources/images/grain.jpeg");
  content: "";
  height: 400%;
  left: -50%;
  /* change opacity to increase grain effect */
  opacity: 0.2;
  position: fixed;
  top: -100%;
  width: 500%;
}

/* position every element on top of the grain effect */
.grain-container * {
  position: relative;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(7%, -15%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 10%);
  }
  60% {
    transform: translate(10%, 0%);
  }
  70% {
    transform: translate(0%, 10%);
  }
  80% {
    transform: translate(3%, 15%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

@media only screen and (max-width: 480px) {
  section {
    width: 100%;
    margin: 0;
  }
}
